
    #ea-wrapper {
      display: none;
    }

    #live#live>iframe {

      border: 10px solid orange;
      padding-top: 0;
      margin-top: 35px;
      height: calc(100% - 35px);
    }

    .label .options {
      width: 225px;
      margin-left: -225px;
    }

    .card {
      left: 12px;
      right: auto;
    }

    @media (max-width: 735px) {
      #live#live>iframe {
        margin: 0;
        height: 100%;
      }

      .inline-menu.menu {
        display: none;
      }

      #source {
        bottom: 0;
      }

      #control {
        height: 22px;
      }

      #bin {
        top: 22px;
      }

      #control #panels>a.button {
        height: 22px;
        line-height: 21px;
      }
    }